In [1]:
# pandas tutorial

In [5]:
import numpy as np
import pandas as pd

In [7]:
## playing with data frame
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=["Row1","Row2","Row3","Row4","Row5"],columns=["column1","column2","column3","column4"])

In [9]:
df.head()

      column1  column2  column3  column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [11]:
## to convert in csv 
df.to_csv("test1.csv")

In [15]:
## Accessing the elements 
# 1. loc : we can consider only one row or one colunm
# 2. iloc: we can consider specific row and column
df.loc["Row1"]

column1    0
column2    1
column3    2
column4    3
Name: Row1, dtype: int32

In [17]:
type(df.loc["Row1"])

pandas.core.series.Series

In [23]:

df.iloc[0:2,0:2]

      column1  column2
Row1        0        1
Row2        4        5

In [25]:
## check the type
type(df.iloc[0:2,0:2])

pandas.core.frame.DataFrame

In [27]:
## convert dataframes into arrays
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [29]:
## to check how many fields are null i.e empty 
df.isnull()

      column1  column2  column3  column4
Row1    False    False    False    False
Row2    False    False    False    False
Row3    False    False    False    False
Row4    False    False    False    False
Row5    False    False    False    False

In [31]:
df.isnull().sum()

column1    0
column2    0
column3    0
column4    0
dtype: int64

In [43]:
df["column1"].value_counts() ## to check how many times the  values is getting repeated in a particular column

column1
0     1
4     1
8     1
12    1
16    1
Name: count, dtype: int64

In [49]:
df["column1"].unique() ## to see how many values are unique in a particular column that basically show in array

array([ 0,  4,  8, 12, 16])